ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  border-bottom: solid black;
}

li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style-type: none;
}

div {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 70px;
}
