:root {
  /* Colors */
  --primary: #5d68ff;
  --secondary: #b0a8de;
  --third: #f3ecff;
  --text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary);
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
}

main {
  display: flex;
  justify-content: center;
}

section {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border: 1px solid var(--third);
  padding: 45px;
  border-radius: 5px;
  width: fit-content;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 24px;
}

button {
  font-size: 20px;
  background-color: var(--third);
  border: transparent;
  filter: drop-shadow(6px 6px 7px #00000054);
  width: 250px;
  padding: 5px 10px;
  transition: all 0.55s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(1.09);
}

.bund {
  display: flex;
  gap: 28px;
}

/*indput feltet*/
div {
  display: flex;
  align-items: center;
  gap: 20px;
}

input {
  font-size: 20px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  height: 40px;
}

.wrong {
  background-color: red;
}

/*Du har vundet grafik*/

#tillykke {
  display: none;
  margin-top: 0;
}
#winner_image {
  animation-name: pattern_kf;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pattern_kf {
  0% {
    translate: 0 -50%;
  }
  25% {
    translate: 50% 0;
  }
  50% {
    translate: 0 50%;
  }
  75% {
    translate: -50% 0;
  }
  100% {
    translate: 0 -50%;
  }
}
